html {
  height: 100%;
  /* Adicionar degrade */
  background: linear-gradient(to bottom right, purple, cyan);
  background-repeat: no-repeat;
  background-size: fill;
}

h1{
  color:white
}

a{
  color: white;
}

p{
  color: white;
}

label{
  color: white;
}

div{
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.26);
  border-radius: 20px;
}

body {
  margin: 50px;
}
